# Dependency directories
node_modules/
jspm_packages/

# Distribution directories
dist/
out/
build/
bundle/

# OS or editor-specific files
.DS_Store
Thumbs.db
.vscode/
*.sublime-project
*.sublime-workspace
*.suo
*.cache
*.log
npm-debug.log*

# Environment configuration files
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE files
.idea/
*.iml

# Cache or build directories
.cache/
.cargo/
*.log
.next/
certificates