.title {
  margin: 0 0 1rem;
  line-height: 1.15;
  font-size: 3.6rem;
  text-align: center;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.primaryButton {
  margin: 20px;
  background-color: #f5f5f5;
  color: black;
  border: 2px solid #f5f5f5;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
  background-color: #5d5d5d;

}

.chatContainer {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 20px auto;
}
.chatMessages {
  flex-grow: 1;
  height: 38vw;
  padding: 10px;
  overflow-y: auto;
  border: 1px solid;
  border-radius: 16px;
}
.message {
  margin: 5px 0;
  padding: 8px;
  padding-right: 10px;
  border-radius: 8px;
  border: 1px solid black;
  width: 98%;
  overflow: auto;
  white-space: pre;
}
.user {
  background-color: rgb(150, 150, 150);
  color: black;
  align-self: flex-end;
}

.openai {
  background-color: rgb(174, 248, 219);
  color: black;
  align-self: flex-end;
}

.chatControls {
  display: flex;
  padding: 10px;
  justify-content: center;
}

.loader {
  width: 60px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side,#000 90%,#0000) 0/calc(100%/3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
@keyframes l1 {to{clip-path: inset(0 -34% 0 0)}}

.chatPrompt {
  display: flex;
  justify-content: space-between;
  width: 513px; height: 148px;
}

.userInput {
  width: 80vw;
  padding: 10px;
  margin-right: 10px;
  resize: none;
}

.messageUser{
  background-color: rgb(150, 150, 150);
  color: black;
  align-self: flex-end;
}

.check{
  padding-top: 30px;
}